@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Fridge App</h1>
</div>


<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 left-box">
            <div class="left-content">
                <div class="search-container-ingredients text-center">
                    <h1 class="text-center mt-5">Fridge</h1>
                    <h2 class="text-center mt-5">Add Ingredients</h2>
                    <form method="post" enctype="multipart/form-data">
                        <input type="text" name="searchIngredient" value="@Model.SearchTerm">
                        <button type="submit" name="submitIngredientSearch">Search</button>
                    </form>    
                    @Html.Raw(Model.IngredientSearchContent)
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" id="selectedIngredient" name="selectedIngredient">
                        <button type="submit" name="addIngredients" onclick="setSelectedIngredient()" >ADD</button>
                    </form>            
                </div>
                <div class="saved-ingredients">
                    <h2 class="text-center mt-5">Saved Ingredients</h2>
                    @Html.Raw(Model.UserIngredientSavedContent)
                </div>
            </div>
        </div>
        <div class="col-md-6 right-box">
            <div class="search-container-recipies text-center"> <!-- Added text-center class -->
                <h1 class="text-center">Recipes</h1>
                <h2 class="text-center mt-5">Available Recipes</h2>
                    <form method="post" enctype="multipart/form-data">
                        <button type="submit" name="findRecipes" onclick="showAvailableRecipes()" >Search</button>
                    </form>    
            </div>
            <div class="available-Recipes">
                @Html.Raw(Model.availableRecipesContent)
            </div>
        </div>
    </div>
</div>


<style>
    .left-box {
        background-color: #f8f9fa;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        align-items: stretch; /* Stretch items to fill container */
        text-align: center
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        padding: 15px
    }

    table.center, table.center th, table.center td {
        padding: 15px;
    }
    table.recipes {
        border: 2px solid black;
        margin: 10px;
    }
    table.recipes th, table.recipes td {
        border: 1px solid black;
        padding: 5px;
    }
    img {
        max-height: 250px;
        max-width: 250px;
        height: auto;
        width: auto;
    }
    .right-box {
        width: calc(50%);
        background-color: #e9ecef;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .left-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1; /* Grow to fill remaining space */
    }
    .search-container-ingredients {
        width: Calc(100%);
        height: 300px; /* Set default width for search container */
        background-image: url('@Url.Content("~/images/fridgeTop.png")');
        background-size: 100% 100%;
        margin: 0 auto;
    }
    .search-container-recipies {
        width: Calc(100%);
        height: 300px; /* Set default width for search container */;
        background-size: 100% 100%;
        margin: 0 auto;
    }
    .saved-ingredients {
        width: Calc(100%);
        min-height: 2000px; /* Minimum width for the search results */
        background-image: url('@Url.Content("~/images/fridgeBtm.png")');
        background-size: 100% 100%;
        flex-grow: 1; /* Grow to fill remaining space */
        overflow-y: auto; /* Add scrollbar when needed */
        margin: 0 auto;
    }
</style>

<script>
    function setSelectedIngredient() {
        var selectElement = document.querySelector('select');
        var selectedIngredient = selectElement.options[selectElement.selectedIndex].value;
        document.getElementById('selectedIngredient').value = selectedIngredient;
    }
</script>
